.d__container {
    padding: 20px;
}

.d__head {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

.d__wrapper {
    margin-top: 40px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
}

.user__details {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
}